.App {
  text-align: center;
  position: relative;

}



.submit{
  font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  color: black;
  position: absolute;
  top: 700px;
  margin-right: auto;
  margin-left: auto;
  z-index: 8;
  border: 1px solid #888;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
